<div class="bgimg">
    <div class="topleft">
        <h1 style="margin-top: 15px;font-weight: 900;"> Home Electric</h1>
    </div>
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr> <br>
        <p>N/A days</p>
    </div>
    <div class="bottomleft">
        <form class="container">
            <mat-form-field class="email-form">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
        
            <mat-form-field class="password-form">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormController" [errorStateMatcher]="matcher"
                       placeholder="Ex. *******">
                <mat-error *ngIf="passwordFormController.hasError('required')">
                Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <button mat-raised-button  class="button-form" color="primary" (click)="login()" [disabled]="isValid">Primary</button>
        
        </form>
    </div>
</div>