.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.home-container {
	border: 0px solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    background-color: white;
}