<div class="content container mt-5 home-container">
	<mat-form-field class="mr-2">
		<mat-label>Item Name</mat-label>
		<input type="text" matInput [formControl]="itemNameController">
		<mat-error *ngIf="itemNameController.hasError('required')">
			Item name is <strong>required</strong>
		</mat-error>
	</mat-form-field>

	<mat-form-field class="mr-2">
		<mat-label>Description</mat-label>
		<input type="text" matInput [formControl]="descriptionController">
		<mat-error *ngIf="descriptionController.hasError('required')">
			Description is <strong>required</strong>
		</mat-error>
	</mat-form-field>

	<mat-form-field class="mr-2">
		<mat-label>Image Url</mat-label>
		<input type="link" matInput [formControl]="imageUrlController">
		<mat-error *ngIf="imageUrlController.hasError('required')">
			Item name is <strong>required</strong>
		</mat-error>
	</mat-form-field>

	<mat-form-field class="mr-2">
		<mat-label>Price</mat-label>
		<input type="number" matInput [formControl]="priceController">
		<mat-error *ngIf="priceController.hasError('required')">
			Price is <strong>required</strong>
		</mat-error>
	</mat-form-field>

	<br>
	<button mat-raised-button  class="button-form" color="secondary" (click)="generate()"> Generate </button>
	<button mat-raised-button  class="button-form" color="primary" (click)="addItem()" [disabled]="isValid"> Add</button>

</div>


<div class="content container mt-5 home-container">
	<div fxLayout="row wrap" fxLayoutGap="16px grid">
		<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products">
			<mat-card class="mat-elevation-z4">
				<mat-card-header>
					<mat-card-title> {{product.name}} </mat-card-title>
				</mat-card-header>
				<mat-divider class="mb-2"></mat-divider>
				<img mat-card-image style="height: 310px" src="{{product.img}}">
				<mat-card-content>
					<p>
						{{ product.description }}
					</p>
				</mat-card-content>
				<mat-divider class="mb-2 mt-1"></mat-divider>
				<mat-card-actions>
					{{ product.price }}
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
